<footer>
    <div class="footer">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="shema-address">

                </div>
                <h3>How to Find US</h3>
                <div class="sheam-adress-content">
                    <img src="{{ base_path }}themes/shiam/assets/images/logo1.png" class="img-responsive">
                    <h2>ADDRESS</h2>
                    <div class="adress">
                        {{page.address}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="phone-number">
                    <img src="{{ base_path }}themes/shiam/assets/images/icon2.png" class="img-responsive">
                    <h3>Call US</h3>
                    <div class="phone-numbers">
                      {{page.phone}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="social-title">
                    <h2><b>FOLLOW US</b></h2>
                </div>

                <div id="social-media">
                 {{page.social_media}}
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="news-letter-title">
                    <h2><b>Newsletter</b></h2>
                </div>
                <div class="news-letter-form">
                    <div class="form">
                        <input type="text" class="form-control" id="search" placeholder="name">
                        <div class="submit">
                            <a href="#">submit</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="copyrights">
        <p>Copyright @Fikra. All Right Reserved.</p>
    </div>
</footer>