    <div class="header-container2">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="logo-img">
                    <img src="{{ base_path }}themes/shiam/assets/images/logo%20(1).png" class="img-responsive">
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="main-nav">
                    <nav class="navbar navbar-expand-lg navbar-light ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                          {{page.navbar}}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
