<div class="background">
    {{page.slider}}

    <div class="header-container">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="logo-img">
                    <img src="themes/shiam/assets/images/logo%20(1).png" class="img-responsive">
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
              
                <div class="main-nav">
                    <nav class="navbar navbar-expand-lg navbar-light ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                          {{page.navbar}}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-content">
        <h2><b><i>UMRAH & Tourism</i></b></h2>
        <h3>in Saudi Arabia</h3>
        <div class="slider-read-more-btn">
            <a href="#">Read More</a>
        </div>
    </div>
</div>
<div class="sheam-introduction">
    <div class="container">
     {{page.about_us}}
    </div>
    <div class="background2"></div>
    <div class="background3">
        <div class="UMRAH-section">
            <div class="container">
           {{page.umrahpackages}}
            </div>
           
            <div class="background-img">
              
                    <div class="omra-packages">
   <div class="carousel carousel-slider">
                        {{page.umra_slickslider}}
                               </div>
                        </div>
                          <div class="prev"><i class="fas fa-angle-left"></i></div>
                          <div class="next"><i class="fas fa-angle-right"></i></div>

                           
            
                    </div>
                    
            
            </div>
        </div>
    </div>
<div class="torurism">

    <div class="sheam-introduction-content">
        <div class="container">
       {{page.tourism}}
        </div>
        
    
        <div class="packages">
           <div class="carousel carousel-slider">

        {{page.tourism_slider}}
            </div>
            <div class="prev"><i class="fas fa-angle-left"></i></div>
                          <div class="next"><i class="fas fa-angle-right"></i></div>

        </div>
    
    </div>
</div>
<footer>
    <div class="footer">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="shema-address">

                </div>
                <h3>How to Find US</h3>
                <div class="sheam-adress-content">
                    <img src="themes/shiam/assets/images/logo1.png" class="img-responsive">
                    <h2>ADDRESS</h2>
                    <div class="adress">
                        {{page.address}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="phone-number">
                    <img src="themes/shiam/assets/images/icon2.png" class="img-responsive">
                    <h3>Call US</h3>
                    <div class="phone-numbers">
                      {{page.phone}}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="social-title">
                    <h2><b>FOLLOW US</b></h2>
                </div>

                <div id="social-media">
                 {{page.social_media}}
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="news-letter-title">
                    <h2><b>Newsletter</b></h2>
                </div>
                <div class="news-letter-form">
                    <div class="form">
                        <input type="text" class="form-control" id="search" placeholder="name">
                        <div class="submit">
                            <a href="#">submit</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="copyrights">
        <p>Copyright @Fikra. All Right Reserved.</p>
    </div>
</footer>

