{% include directory ~ '/header.html.twig' %}
<div id="layout">
      {% if page.photo_gellery  %}
  {{page.photo_gellery}}
 {% elseif  page.package_node %} 
  {{page.content}}
   {{package_node}}
     {% else %}
    {{page.content}}
{% endif %}
</div>





{% include directory ~ '/footer.html.twig' %}
