/**
 * @file
 * Wrapped content from core/themes/seven/css/components/details.css.
 * This has been modified to remove the .seven-details class,
 * as it would not be present in this context.
 */
#layout-builder-modal {
  details {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    background-color: #fcfcfa;
  }
  summary {
    cursor: pointer;
    color: #0074bd;
    text-shadow: 0 1px 0 white;
  }
  summary:hover,
  summary:focus,
  details[open] > details summary {
    color: #004f80;
  }
  details div {
    padding: 0 1.5em 1em 1.5em;
  }
}
