@media screen and (max-width: 640px) and (min-width: 360px) {
    .background:before
    {
        height: 90px;
        
    }
 .logo-img img {
    width: 60%;
}
.slider-content {
    position: absolute;
    top: 86px;
    left: 100px;
}
    .slider-content b {
    color: #fff;
    font-size: 20px;
}
    .slider-content h3 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
    .slider-read-more-btn {
    width: 119px;
    padding-top: 1px;
    height: 26px;
    text-align: center;
    margin: 0 auto;
    background-color: #0e6cd1;
    border: 1px solid #0e6cd1;
    border-radius: 15px;
}
    .slider-read-more-btn a {
    color: #fff;
        text-decoration: none;
}
    .background:before {
        height: 170px;
    }
.main-nav {
    float: right;
    position: absolute;
    top: -60px;
    left: 80%;
}
   .main-nav ul li {
    display: grid;
    padding: 5px 60px 3px 2px;
}
    .slider-content h2 {
    margin-bottom: 2px;
}
  .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }
    .background2 
    {
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.9);
    margin-bottom: 30px;
    height: 500px;
    background-size: cover;
    max-height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    }
    

    
    .submit {
    width: 70px;
    height: 34px;
    border: 1px solid #006fe6;
    background-color: #006fe6;
    position: absolute;
    padding: 6px;
    left: 270px;
    border-radius: 6px;
    top: 115px;
}
 
    .form
    {
        margin-bottom: 30px;
    }
}