body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.background {
    position: relative;
}


.logo-img img {
    width: 350px;
}

.overlay {
    width: 100%;
}

.flexslider .slides img {
    width: 100%;
    display: block;
    height: 800px;
    box-shadow: 0px 26px 18px -23px rgba(0, 0, 0, 0.75);
    margin-bottom: 50px;


}

.flex-control-nav {
    background-color: #d9dcdd;
    width: 260px;
    height: 40px;
    left: 40%;
    border-radius: 59px;
    position: absolute;
    bottom: 21px;
    text-align: center;
    border: 1px solid #d9dcdd;
    text-align: center;
}

.flex-direction-nav a {

    width: 36px;
    height: 30px;
    margin: -3px 538px 0;
    position: absolute;

}

.flex-direction-nav {
    bottom: 50px;
    position: relative;

}

.flex-direction-nav a:before {
    font-size: 20px;
    color: #adadad;
}

.flex-control-nav li {
    margin: 15px 6px;

}

.flexslider:hover .flex-direction-nav .flex-prev {
    left: 145px;
}

.flexslider:hover .flex-direction-nav .flex-next {
    right: 220px;
}

.slides {
    position: sticky;
}

.background:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 170px;
    right: 0;
    background: rgba(23, 22, 28, 0.9);
}

.header-container {
    padding: 25px;
    position: absolute;
    top: 0;
    width: 100%;
}

.header-container2 {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
}

main-nav {
    transition: .5s #fff;
    float: right;
    overflow: hidden;
}

.main-nav ul li {
    display: inline-block;
    padding: 5px;
}

.main-nav ul li i {
    color: gray;
}
.main-nav ul li a {
    padding: 5px;
    position: relative;
    font-size: 28px;
    display: block;
    color: #a6a7ae;
    color: #fff;
    text-decoration: none;
    transition: .5s;
}
.main-nav ul li svg {
    color: gray;
}

.main-nav ul li a::before {
    content: '';
    display: block;
    transition-delay: 5s;

    width: 0%;
    height: 3px;
    transition: width .3s;
    background-color: #06a4df;
}

.main-nav ul li a:hover::before {
    width: 100%;
    transition: width .3s;
}

.main-nav ul ul {

    display: none;
    transition: all .5s ease;

}

.main-nav ul li ul {
    position: absolute;
    left: 600px;
    right: 0px;
    margin: auto;
    display: block;
    width: 200px;
    height: auto;
    padding: 5px;
    opacity: 0;
    background: #000;

    z-index: -1;
    font-family: 'Times New Roman', serif;
}

.main-nav ul li ul li {
    width: 100%;
    border: 1px solid #fff;
    transition-delay: 5s;

}

.main-nav ul li:hover ul {

    display: block;
    opacity: 1;
    transition-delay: 0.5s;

    z-index: 2;
}


.slider-content {
    position: absolute;
    top: 300px;
    left: 100px;
}

.slider-content h2 {
    margin-bottom: 25px;
}

.slider-content b {
    color: #fff;
    font-size: 50px;
}

.slider-content h3 {
    margin-bottom: 40px;
    font-size: 45px;
    color: #fff;
    text-align: center;
}

.slider-read-more-btn {
    width: 144px;
    padding-top: 8px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    background-color: #0e6cd1;
    border: 1px solid #0e6cd1;
    border-radius: 15px;
}

.slider-read-more-btn a {
    color: #fff;
    text-decoration: none;
}


.read-more-btn {
    width: 144px;
    padding-top: 5px;
    height: 40px;

    margin: 0 auto;
    text-align: center;
    background-color: #0e6cd1;
    border: 1px solid #0e6cd1;
    border-radius: 15px;
}

.slick-active {}

.read-more-btn a {
    color: #fff;
    text-decoration: none;
}

.sheam-introduction-content h1 {
    color: #636466;
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
}

.sheam-introduction-des {
    text-align: center;
    margin: 0 auto;
    width: 70%;
}

.sheam-introduction-des p {
    width: 100%;
    font-size: 18px;
    color: #333333;
}

.background2 {

    position: relative;
    margin-bottom: 30px;
    background-image: url("../images/Untitled-4_0%20(1).jpg");
    height: 800px;
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0px 26px 18px -23px rgba(0, 0, 0, 0.75);
}
.background2:before, .background2::after {
    content: '';
    position: absolute;
bottom: -1px;
    width: 10%;
height: 0px;
    box-shadow: 0px 19px 10px 1px rgba(0, 0, 0, 0.75);
}
.background2:before
{
box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.75);
}
.background2:after
{
    box-shadow: 0px 12px 8px 1px rgba(0, 0, 0, 0.75);}

}

.background2:before
{
         content: '';
    position: absolute;
    bottom: -1px;
    width: 10%;
    height: 0px;
}
.background2:after {
    box-shadow: 3px 16px 18px 9px rgba(0, 0, 0, 0.75);
    right: -2px;
    transform: rotate(0deg);
    width: 10%;
    height: 0px;
    bottom: 15px;
}

.background3 {
    position: relative;
    z-index: 1;
        background: url("../images/bg2.png");
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    height: 100%;
    box-shadow: 0px 26px 18px -23px rgba(0, 0, 0, 0.75);
}

.background-img {
    padding-top: 80px;
}

.background3::after {
    content: "";
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    right: 0;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-size: 100% 100%;

}


.torurism::after {
    content: "";
    background: url("../images/bg3.png");
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: 100% 100%;
}

.torurism {
    position: relative;
    z-index: 1;
    height: 100%;
    box-shadow: 0px 26px 18px -23px rgba(0, 0, 0, 0.75);
}

.package-item {
    float: left;
    opacity: 1;
    border: 1px solid #bfbfbf;
    width: 390px;
    height: 600px;
    margin-top: 30px;
    margin: 23px 45px;
    margin-bottom: 30px;
    background-color: #fff;
}

.slick-arrow::before {
    color: #1795de;
}

.slick-arrow:hover::before {
    color: #1795de;

}

.pakage-image img {
    width: 100%;
    height: 200px;
}

.package-durition {
    margin-top: 15px;
    text-align: center;
}

.package-durition p {
    color: #858587;
}

.package-name h3 {
    color: #23527c;
    text-align: center;
    margin-bottom: 25px;
}

.package-des p {

    text-align: center;
}

.package-price h3 {
    text-align: center;
    color: #1795de;
    margin-bottom: 20px;
}

.book-btn {
    width: 135px;
    height: 35px;
    border: 1px solid gray;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
    background-color: #6a6b6e;
}

.toruism-packages {
    margin-top: 50px;
}

.package-des {
    margin: 0 auto;
    width: 70%;
}

.book-btn a {
    color: #fff;
    text-decoration: none;
}


.footer {
    padding-top: 30px;
    background-color: #f1f2f2;
    padding-left: 20px;
}

.row {
    width: 100%;
}

.sheam-adress {
    color: #58595b;
}

.sheam-adress h3 {
    font-size: 23px;
}

.sheam-adress-content i {
    float: left;
    color: rgb(66, 66, 66);
    margin-right: 5px;
    font-size: 50px;
}

.sheam-adress-content h2 {
    padding: 14px;
    font-size: 20px;
    color: #006fe6;
}

.sheam-adress-content p {
    color: #58595b;
}

.adress {
    margin-left: 60px;
}

.sheam-adress-content img {
    margin-right: 10px;
    float: left;
}

.phone-number {
    padding-top: 50px;
}

.phone-number img {
    margin-right: 10px;
    float: left;
}

.phone-number h3 {
    color: #006fe6;
    padding-top: 10px;
}

.phone-numbers p {
    margin-left: 58px;
    color: #58595b;
}

#social-media {
    padding-top: 50px;
}

#social-title h2 {
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    color: #58595b;
}

#social-media ul {
    text-align: center;
    padding: 0;
    list-style: none;
}

#social-media ul li {
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #006fe6;
    display: inline-block;
}

#social-media ul li svg {
    color: #fff;
}

#social-media ul li a svg {
    font-size: 35px;
}

.news-letter-title h2 {
    color: #58595b;
}

.news-letter-title h2 {
    padding-top: 25px;
    font-size: 25px;
}

#search {
    width: 90%;
        height: 60px;
    background-color: #d7d7d7;
}

.form {
    padding-top: 50px;
}

.submit {
       width: 90px;
    height: 55px;
    border: 1px solid #006fe6;
    background-color: #006fe6;
    position: absolute;
    text-align: center;
    padding: 12px;
    left: 271px;
    border-radius: 9px;
    top: 115px;
}

.submit a {
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.copyrights {
    background-color: #000000;
    padding: 5px;
}

.copyrights p {
    color: #959595;
    padding-top: 15px;
    text-align: center;
}

.social-title h2 {
    padding-top: 20px;
    text-align: center;
}

.social-title b {
    font-size: 22px;
    padding-top: 30px;
    color: #58595b;
}

.sheam-adress-content {
    padding-top: 16px;
}

#layout {
    margin: 50px;
    border: 2px solid #cccccc;
    box-shadow: 0px 18px 15px grey;
}

#block-shiam-page-title {
    padding-left: 20px;
    background-color: #F7F7F7;
}

.align-center {
    width: 95%;
}

.about p {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 23px;
    margin-bottom: 30px;
}

.service p {
    padding: 30px;
    font-size: 20px;
}

.package-item2 {
    float: left;
    opacity: 1;
    border: 1px solid #bfbfbf;
    width: 500px;
    height: 560px;
    margin-top: 30px;
    border-radius: 12px;
    margin: 24px 55px;
    clip-path: polygon(0% 0%, 100% 0, 100% 88%, 100% 100%, 0 100%, 0% 0);
    margin-bottom: 30px;
    background-color: #fff;
}

.package-item2 .pakage-image img {
    padding: 0px 0px 0px 0px;
    border-radius: 2px;
}

.gellary-main-image {
    padding: 25px;
}

.gellery-img {
    border: 1px solid #31577e;
    border-radius: 4px;
}

.gellary-title {
    text-align: center;
}

.gellary-main-image img {
    padding-left: 20px;
    width: 100%;
    padding: 0px 0px 0px 0px;
    height: 200px;
}

.package2 .pakage-image img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
}

.slick-next {
    right: -40px;
}

.slick-prev {
    left: -69px;
}

.gellary-title {
    text-align: center;
    display: block;
    padding: 27px;
    background-color: #31577e;
}

.gellary-title a {
    color: #fff;
    text-decoration: none;
}

.node-images {
    padding: 70px;
}

.gellery img {
    width: 290px;
    height: 250px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    margin: 4px;
}

.gellery2 img {
    width: 290px;
    height: 250px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    margin: 4px
}

.gellary3 img {
    width: 290px;
    height: 250px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    margin: 4px;
}


.gellery {
    margin: 4px 160px;
}

.gellery2 {
    margin: 4px 160px;
}

.gellary3 {
    margin: 4px 160px;
}

.page-node-23 .main {
    display: none;
}

.page-node-25 .main {
    display: none;
}

.page-node-27 .main {
    display: none;
}

#block-views-block-node-phtots-block-1 span {
    font-size: 38px;
    padding-left: 25px;
}

.node-images a {
    position: relative;
    left: 30px;
}

.node-images img {
    margin-bottom: 30px;
}

.gellary-main-video {
    padding: 30px;
}

.gellary-main-video img {
    width: 100%;
}

.video-title {
    text-align: center;
    background-color: #31577e;
    padding: 15px;
    color: #fff;
}

.labels {
    display: inline-block;
    margin-bottom: .5rem;
}

.webform-submission-form {
    padding-left: 50px;
}

.js-form-item {
    padding: 10px;

}

.form-text {
    display: block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-email {
    display: block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-tel {
    display: block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-textarea {
    display: block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

#edit-actions {
    padding-left: 15px
}

.webform-button--submit {
    color: #fff;
    width: 150px;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #31577e;
    border: none;
    margin-top: 15px;
}

.package-name b {
    font-size: 40px;
}

.webform-submission-add-form {
    width: 90%;
}

.webform-submission-add-form .js-form-item {
    padding: 0;
}

fieldset.webform-composite-hidden-title {
    margin-top: -2em;
    margin-bottom: 1em;
}

#edit-country-country {
    display: block;
    width: 20%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.node-package {
    background-color: #06a5df;
    height: 70px;
    display: block;
    width: 300px;
}

.node-package p {
    text-align: center;
    color: #fff;
    padding-top: 10px;
    font-size: 30px;
}

.node-dur {
    height: 70px;
    display: block;
    border: 0px solid #fff;
    width: 300px;
    padding-top: 10px;
    font-size: 30px;
    background-color: #ff8323;
}

.node-dur p {
    text-align: center;
    color: #fff;
    padding-top: 5px;
}

.package {
    padding: 30px 2px 3px 30%;
    margin-bottom: 50px;

}

.package-info {
    margin-bottom: 90px;
    background-color: #ebebeb;
    padding: 45px;
    margin-left: 37px;
}

.package-imgs {
    display: inline-block;
}

.package-imgs img {
    width: 400px;
    border: 1px solid blue;
    height: 200px;
}

.package-day {
    font-size: 42px;
    color: blue;
}

.package-day {
    display: inline-block;
}

.pages-title {
    border: 1px solid blue;
    width: 98%;
    height: 65px;
    background-color: #286090;
    margin-left: 33px;
}

.title p {
    padding: 11px;
    color: #fff;
    font-size: 28px;
}

.page-table {
    margin-top: 20px;
    padding: 35px;
    background-color: #ebebeb;
    margin-left: 33px;
    margin-bottom: 40px;
}

.table-bordered {
    border: 1px solid #000;
}

.package-info-page {
    padding: 70px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 32px;
    background-color: #ebebeb;
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 800px;
    perspective: 491px;
    transform-style: preserve-3d;
    bottom: 0px;
    right: 0px;
    transform-origin: 0% 50%;
}

.carousel-item {
    z-index: 0;
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 0;
    opacity: 1;
    visibility: visible;
    transform: translateX(534.5px) translateY(359px) translateX(0px) translateX(0px) translateZ(0px);

}


.carousel-item.active {
    clip-path: polygon(50% 0%, 100% 0, 100% 86%, 56% 100%, 0 83%, 0 0);
}

.carousel .carousel-item {
    width: 430px;
    height: 615px;
    position: absolute;
    top: 0;
    left: 0;
}

.prev {
    border: 1px solid #1795de;
    width: 50px;
    height: 55px;
    border-radius: 50%;
    background-color: #1795de;
    position: relative;
    color: #fff;
    bottom: 578px;
    font-size: 40px;
    cursor: pointer;
    left: 120px;
    padding: 0px 4px 4px 13px;
}

.next {
    border: 1px solid #1795de;
    width: 50px;
    height: 55px;
    border-radius: 50%;
    background-color: #1795de;
    position: relative;
    color: #fff;
    bottom: 633px;
    font-size: 40px;
    cursor: pointer;
    right: 130px;
    padding: 0px 7px 2px 16px;
    float: right;
}



.navbar svg
{
    border: none;
    color: #fff;
    font-size: 40px;
}
.tablefield{
  width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.tablefield>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

/* media css=======================================================
============================================================================*/
@media screen and (max-width: 767px) and (min-width: 360px) {
    .background:before {
           height: 40%;
    }
    .navbar-light .navbar-toggler {
        
     border: none;   
    }

    .header-container {
        padding: 12px;
    }

   

    .logo-img img {
        width: 60%;
    }

    .slider-content {
        position: absolute;
        top: 86px;
        left: 100px;
    }

    .flex-control-nav {
        left: 15%;
    }

    .slider-content b {
        color: #fff;
        font-size: 20px;
    }

    .slider-content h3 {
        margin-bottom: 20px;
        font-size: 16px;
        color: #fff;
        text-align: center;
    }

    .slider-read-more-btn {
        width: 119px;
        padding-top: 1px;
        height: 26px;
        text-align: center;
        margin: 0 auto;
        background-color: #0e6cd1;
        border: 1px solid #0e6cd1;
        border-radius: 15px;
    }

    .slider-read-more-btn a {
        color: #fff;
        text-decoration: none;
    }


    .main-nav ul li {
        display: grid;
        padding: 5px 60px 3px 2px;
    }

    .slider-content h2 {
        margin-bottom: 2px;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: none;
        box-shadow: none;
    }

    .background2 {
        box-shadow: 0 12px 10px rgba(0, 0, 0, 0.9);
        margin-bottom: 30px;
        height: 500px;
        background-size: cover;
        max-height: 400px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }


    .menu-toggle {
        color: #fff;
        float: right;
        line-height: 100px;
        position: relative;
        bottom: 60px;
        font-size: 24px;
        left: 30px;
        display: block;
    }

    .submit {
        width: 70px;
        height: 34px;
        border: 1px solid #006fe6;
        background-color: #006fe6;
        position: absolute;
        padding: 6px;
        left: 270px;
        border-radius: 6px;
        top: 115px;
    }

    .form {
        margin-bottom: 30px;
    }

    .flexslider .slides img {
        height: 250px;
    }

    .main-nav ul li a {
        color: #fff;
    }

.slider-content
    {
        display: none;
    }
   
    .flexslider:hover .flex-direction-nav .flex-next:hover{
        display: none;
}
        .flexslider:hover .flex-direction-nav .flex-prev:hover{
            display: none;
    }
}
.js-quickedit-page-title
{
    padding: 20px;
}
@media screen and (max-width: 1000px) and (min-width: 160px) {
    .main-nav {
        float: right;
    }
    .flex-control-nav {
     display: none;
    }
    .main-nav ul li a {
    padding: 22px;
    position: relative;
    font-size: 23px;
    display: block;
    border-bottom: 2px solid #fff;
    color: #a6a7ae;
    color: #fff;
    text-decoration: none;
    transition: .5s;
}
    
  
 
}
