#layout-builder-modal details{margin-top:1em;margin-bottom:1em;border:1px solid #bfbfbf;border-radius:3px;background-color:#fcfcfa}#layout-builder-modal summary{cursor:pointer;color:#0074bd;text-shadow:0 1px 0 white}#layout-builder-modal summary:hover,#layout-builder-modal summary:focus,#layout-builder-modal details[open]>details summary{color:#004f80}#layout-builder-modal details div{padding:0 1.5em 1em 1.5em}
